@model TaskList.Models.Task

@{
    ViewBag.Title = "Task";
}

<h2>View</h2>
@Html.AntiForgeryToken()
<div>
    <h4>Task - @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
            <br />
            <br />
        </dd>
        @if (Model.Complete)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CompleteDate)
            </dt>
            <dd>

                @Html.DisplayFor(model => model.CompleteDate)
                <br />
                <br />
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Complete)
        </dt>
        <dd>
            @(Model.Complete == true ? "Yes" : "No")
            <br />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
